.split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.gutter {
  background-color: #e0e0e0;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 0.2s ease;
}

.gutter:hover {
  background-color: #c0c0c0;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  width: 10px;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
  height: 10px;
}

.split-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
